openapi: 3.0.3
info:
  title: 'Hopa! API Documentation'
  description: 'Complete API documentation for Hopa! - Restaurant & Food Delivery Platform'
  version: 1.0.0
servers:
  -
    url: 'https://api.hopa.delivery'
tags:
  -
    name: Authentication
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: 'Public Contact API'
    description: ''
  -
    name: 'Public Restaurant API'
    description: ''
  -
    name: 'Public Zone API'
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "    This API uses Laravel Passport for authentication. You can obtain a token by:\n\n    <b>For Customers:</b> POST to <code>/api/v1/customer/auth/login</code>\n    <b>For Vendors:</b> POST to <code>/api/v1/vendor/auth/login</code>\n    <b>For Delivery Personnel:</b> POST to <code>/api/v1/auth/delivery-man/login</code>\n\n    Include the token in the Authorization header as: <code>Bearer YOUR_TOKEN</code>"
security:
  -
    default: []
paths:
  /api/v1/auth/login:
    post:
      summary: 'Customer Login'
      operationId: customerLogin
      description: "Authenticate a customer using various login methods (manual, OTP, or social).\nReturns a JWT token upon successful authentication."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                  is_phone_verified: 1
                  is_email_verified: 1
                  is_personal_info: 1
                properties:
                  token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                  is_phone_verified:
                    type: integer
                    example: 1
                  is_email_verified:
                    type: integer
                    example: 1
                  is_personal_info:
                    type: integer
                    example: 1
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: 'Invalid credentials'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: 'Invalid credentials'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: 'Invalid credentials'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login_type:
                  type: string
                  description: 'The type of login.'
                  example: manual
                  nullable: false
                email_or_phone:
                  type: string
                  description: 'required_if:login_type,manual The email or phone number.'
                  example: user@example.com
                  nullable: false
                password:
                  type: string
                  description: 'required_if:login_type,manual The user password (min 6 characters).'
                  example: password123
                  nullable: false
                field_type:
                  type: string
                  description: 'required_if:login_type,manual Specify whether email_or_phone is an email or phone.'
                  example: email
                  nullable: false
                phone:
                  type: string
                  description: 'required_if:login_type,otp The phone number for OTP login.'
                  example: '+972501234567'
                  nullable: false
                otp:
                  type: string
                  description: 'required_if:login_type,otp The OTP code.'
                  example: '123456'
                  nullable: false
                guest_id:
                  type: string
                  description: 'optional Guest user ID for cart migration.'
                  example: guest_12345
                  nullable: false
              required:
                - login_type
      security: []
  /api/v1/zone/list:
    get:
      summary: ''
      operationId: getApiV1ZoneList
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/v1/zone/check:
    get:
      summary: ''
      operationId: getApiV1ZoneCheck
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                lng:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                zone_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - lat
                - lng
                - zone_id
      security: []
  /api/v1/advertisement/list:
    get:
      summary: ''
      operationId: getApiV1AdvertisementList
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/v1/addon-category/list:
    get:
      summary: ''
      operationId: getApiV1AddonCategoryList
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: number
                  description: ''
                  example: 4326.41688
                  nullable: true
                offset:
                  type: number
                  description: ''
                  example: 4326.41688
                  nullable: true
      security: []
  /api/v1/stories:
    get:
      summary: ''
      operationId: getApiV1Stories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                properties:
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  '/api/v1/stories/{story}/view':
    post:
      summary: ''
      operationId: postApiV1StoriesStoryView
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                session_key:
                  type: string
                  description: 'Must not be greater than 191 characters.'
                  example: b
                  nullable: true
                completed:
                  type: boolean
                  description: ''
                  example: false
                  nullable: true
      security: []
    parameters:
      -
        in: path
        name: story
        description: 'The story.'
        example: architecto
        required: true
        schema:
          type: string
  /api/v1/auth/sign-up:
    post:
      summary: ''
      operationId: postApiV1AuthSignUp
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                email:
                  type: string
                  description: ''
                  example: null
                  nullable: false
                phone:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - name
                - phone
                - password
      security: []
  /api/v1/auth/verify-phone:
    post:
      summary: ''
      operationId: postApiV1AuthVerifyPhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                verification_type:
                  type: string
                  description: ''
                  example: email
                  nullable: false
                  enum:
                    - phone
                    - email
                phone:
                  type: string
                  description: 'This field is required when <code>verification_type</code> is <code>phone</code>. Must be at least 9 characters. Must not be greater than 14 characters.'
                  example: gzmiyvdljnikhw
                  nullable: false
                email:
                  type: string
                  description: 'This field is required when <code>verification_type</code> is <code>email</code>. Must be a valid email address.'
                  example: cormier.nick@example.com
                  nullable: false
                login_type:
                  type: string
                  description: ''
                  example: manual
                  nullable: false
                  enum:
                    - manual
                    - otp
              required:
                - otp
                - verification_type
                - login_type
      security: []
  /api/v1/auth/update-info:
    post:
      summary: ''
      operationId: postApiV1AuthUpdateInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                login_type:
                  type: string
                  description: ''
                  example: social
                  nullable: false
                  enum:
                    - otp
                    - social
                phone:
                  type: string
                  description: 'Must be at least 9 characters. Must not be greater than 14 characters.'
                  example: gzmiyvdljnikhw
                  nullable: false
              required:
                - name
                - login_type
                - phone
      security: []
  /api/v1/auth/forgot-password:
    post:
      summary: ''
      operationId: postApiV1AuthForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                verification_method:
                  type: string
                  description: ''
                  example: phone
                  nullable: false
                  enum:
                    - phone
                    - email
                phone:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>phone</code>.'
                  example: null
                  nullable: false
                email:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>email</code>.'
                  example: null
                  nullable: false
              required:
                - verification_method
      security: []
  /api/v1/auth/verify-token:
    post:
      summary: ''
      operationId: postApiV1AuthVerifyToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                verification_method:
                  type: string
                  description: ''
                  example: email
                  nullable: false
                  enum:
                    - phone
                    - email
                phone:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>phone</code>. Must be at least 9 characters.'
                  example: gzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnnoqi
                  nullable: true
                email:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>email</code>.'
                  example: null
                  nullable: true
              required:
                - reset_token
                - verification_method
      security: []
  /api/v1/auth/reset-password:
    put:
      summary: ''
      operationId: putApiV1AuthResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                confirm_password:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: architecto
                  nullable: false
                verification_method:
                  type: string
                  description: ''
                  example: email
                  nullable: false
                  enum:
                    - phone
                    - email
                phone:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>phone</code>. The <code>phone</code> of an existing record in the users table. Must be at least 9 characters.'
                  example: gzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnnoqi
                  nullable: true
                email:
                  type: string
                  description: 'This field is required when <code>verification_method</code> is <code>email</code>. The <code>email</code> of an existing record in the users table.'
                  example: null
                  nullable: true
              required:
                - reset_token
                - password
                - confirm_password
                - verification_method
      security: []
  /api/v1/auth/firebase-reset-password:
    put:
      summary: ''
      operationId: putApiV1AuthFirebaseResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionInfo:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                phoneNumber:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                code:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - sessionInfo
                - phoneNumber
                - code
      security: []
  /api/v1/auth/guest/request:
    post:
      summary: ''
      operationId: postApiV1AuthGuestRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/firebase-verify-token:
    post:
      summary: ''
      operationId: postApiV1AuthFirebaseVerifyToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_info:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                phone:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                otp:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                login_type:
                  type: string
                  description: ''
                  example: otp
                  nullable: false
                  enum:
                    - manual
                    - otp
              required:
                - session_info
                - phone
                - otp
                - login_type
      security: []
  /api/v1/auth/delivery-man/login:
    post:
      summary: ''
      operationId: postApiV1AuthDeliveryManLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'The <code>phone</code> of an existing record in the delivery_men table.'
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: ']|{+-0pBNvYg'
                  nullable: false
              required:
                - phone
                - password
      security: []
  /api/v1/auth/delivery-man/store:
    post:
      summary: ''
      operationId: postApiV1AuthDeliveryManStore
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                f_name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                identity_type:
                  type: string
                  description: ''
                  example: passport
                  nullable: false
                  enum:
                    - passport
                    - driving_license
                    - nid
                identity_number:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                email:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                phone:
                  type: string
                  description: 'Must match the regex /^([0-9\s\-\+\(\)]*)$/. Must be at least 9 characters.'
                  example: ngzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnnoq
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                zone_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                vehicle_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                earning:
                  type: string
                  description: ''
                  example: '1'
                  nullable: false
                  enum:
                    - '0'
                    - '1'
                image:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: g
                  nullable: true
                identity_image:
                  type: array
                  description: 'Must not be greater than 2048 characters.'
                  example:
                    - z
                  items:
                    type: string
                    nullable: true
              required:
                - f_name
                - identity_type
                - identity_number
                - email
                - phone
                - password
                - zone_id
                - vehicle_id
                - earning
      security: []
  /api/v1/auth/delivery-man/forgot-password:
    post:
      summary: ''
      operationId: postApiV1AuthDeliveryManForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - phone
      security: []
  /api/v1/auth/delivery-man/verify-token:
    post:
      summary: ''
      operationId: postApiV1AuthDeliveryManVerifyToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'Must match the regex /^([0-9\s\-\+\(\)]*)$/. Must be at least 9 characters.'
                  example: bngzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnno
                  nullable: false
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - phone
                - reset_token
      security: []
  /api/v1/auth/delivery-man/firebase-verify-token:
    post:
      summary: ''
      operationId: postApiV1AuthDeliveryManFirebaseVerifyToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionInfo:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                phoneNumber:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                code:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - sessionInfo
                - phoneNumber
                - code
      security: []
  /api/v1/auth/delivery-man/reset-password:
    put:
      summary: ''
      operationId: putApiV1AuthDeliveryManResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'Must match the regex /^([0-9\s\-\+\(\)]*)$/. Must be at least 9 characters.'
                  example: bngzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnno
                  nullable: false
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                confirm_password:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: architecto
                  nullable: false
              required:
                - phone
                - reset_token
                - password
                - confirm_password
      security: []
  /api/v1/auth/vendor/login:
    post:
      summary: ''
      operationId: postApiV1AuthVendorLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: ']|{+-0pBNvYg'
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/v1/auth/vendor/forgot-password:
    post:
      summary: ''
      operationId: postApiV1AuthVendorForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - email
      security: []
  /api/v1/auth/vendor/verify-token:
    post:
      summary: ''
      operationId: postApiV1AuthVendorVerifyToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The <code>email</code> of an existing record in the vendors table.'
                  example: architecto
                  nullable: false
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - email
                - reset_token
      security: []
  /api/v1/auth/vendor/reset-password:
    put:
      summary: ''
      operationId: putApiV1AuthVendorResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The <code>email</code> of an existing record in the vendors table.'
                  example: architecto
                  nullable: false
                reset_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                confirm_password:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: architecto
                  nullable: false
              required:
                - email
                - reset_token
                - password
                - confirm_password
      security: []
  /api/v1/auth/vendor/register:
    post:
      summary: ''
      operationId: postApiV1AuthVendorRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fName:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                lat:
                  type: number
                  description: 'Must be at least -90. Must not be greater than 90.'
                  example: 22
                  nullable: false
                lng:
                  type: number
                  description: 'Must be at least -180. Must not be greater than 180.'
                  example: 7
                  nullable: false
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: rowan.gulgowski@example.com
                  nullable: false
                phone:
                  type: string
                  description: 'Must match the regex /^([0-9\s\-\+\(\)]*)$/. Must be at least 9 characters.'
                  example: dljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbewtnnoqitpxntl
                  nullable: false
                min_delivery_time:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                max_delivery_time:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                zone_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                logo:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: 'n'
                  nullable: false
                cover_photo:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: g
                  nullable: true
                delivery_time_type:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - fName
                - lat
                - lng
                - email
                - phone
                - min_delivery_time
                - max_delivery_time
                - password
                - zone_id
                - logo
                - delivery_time_type
      security: []
  /api/v1/vendor/package-view:
    get:
      summary: ''
      operationId: getApiV1VendorPackageView
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  packages: []
                properties:
                  packages:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/business_plan:
    post:
      summary: ''
      operationId: postApiV1VendorBusiness_plan
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                restaurant_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                payment:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                business_plan:
                  type: string
                  description: ''
                  example: commission
                  nullable: false
                  enum:
                    - subscription
                    - commission
                package_id:
                  type: string
                  description: 'This field is required when <code>business_plan</code> is <code>subscription</code>.'
                  example: null
                  nullable: true
                payment_gateway:
                  type: string
                  description: 'This field is required when <code>business_plan</code> is <code>subscription</code>.'
                  example: null
                  nullable: true
                payment_platform:
                  type: string
                  description: ''
                  example: app
                  nullable: true
                  enum:
                    - app
                    - web
              required:
                - restaurant_id
                - business_plan
      security: []
  /api/v1/vendor/cancel-subscription:
    post:
      summary: ''
      operationId: postApiV1VendorCancelSubscription
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                restaurant_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                subscription_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - restaurant_id
                - subscription_id
      security: []
  /api/v1/vendor/check-product-limits:
    get:
      summary: ''
      operationId: getApiV1VendorCheckProductLimits
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\Restaurant] architecto'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\Restaurant] architecto'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                restaurant_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                package_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - restaurant_id
                - package_id
      security: []
  /api/v1/delivery-man/last-location:
    get:
      summary: ''
      operationId: getApiV1DeliveryManLastLocation
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  '/api/v1/delivery-man/reviews/{delivery_man_id}':
    get:
      summary: ''
      operationId: getApiV1DeliveryManReviewsDelivery_man_id
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: delivery_man_id
        description: 'The ID of the delivery man.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v1/delivery-man/reviews/rating/{delivery_man_id}':
    get:
      summary: ''
      operationId: getApiV1DeliveryManReviewsRatingDelivery_man_id
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: delivery_man_id
        description: 'The ID of the delivery man.'
        example: architecto
        required: true
        schema:
          type: string
  /api/v1/delivery-man/reviews/submit:
    post:
      summary: ''
      operationId: postApiV1DeliveryManReviewsSubmit
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_man_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                comment:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                rating:
                  type: number
                  description: 'Must not be greater than 5.'
                  example: 2
                  nullable: false
                attachment:
                  type: array
                  description: 'Must not be greater than 2048 characters.'
                  example:
                    - g
                  items:
                    type: string
                    nullable: true
              required:
                - delivery_man_id
                - order_id
                - comment
                - rating
      security: []
  /api/v1/delivery-man/profile:
    get:
      summary: ''
      operationId: getApiV1DeliveryManProfile
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/notifications:
    get:
      summary: ''
      operationId: getApiV1DeliveryManNotifications
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/update-profile:
    put:
      summary: ''
      operationId: putApiV1DeliveryManUpdateProfile
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                f_name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                l_name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                email:
                  type: string
                  description: ''
                  example: null
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                image:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: 'n'
                  nullable: true
              required:
                - f_name
                - l_name
      security: []
  /api/v1/delivery-man/update-active-status:
    post:
      summary: ''
      operationId: postApiV1DeliveryManUpdateActiveStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/current-orders:
    get:
      summary: ''
      operationId: getApiV1DeliveryManCurrentOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/latest-orders:
    get:
      summary: ''
      operationId: getApiV1DeliveryManLatestOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/record-location-data:
    post:
      summary: ''
      operationId: postApiV1DeliveryManRecordLocationData
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/all-orders:
    get:
      summary: ''
      operationId: getApiV1DeliveryManAllOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  description: ''
                  example: 16
                  nullable: false
                offset:
                  type: integer
                  description: ''
                  example: 16
                  nullable: false
              required:
                - limit
                - offset
      security: []
  /api/v1/delivery-man/order-delivery-history:
    get:
      summary: ''
      operationId: getApiV1DeliveryManOrderDeliveryHistory
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/delivery-man/accept-order:
    put:
      summary: ''
      operationId: putApiV1DeliveryManAcceptOrder
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the orders table.'
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/delivery-man/update-order-status:
    put:
      summary: ''
      operationId: putApiV1DeliveryManUpdateOrderStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: delivered
                  nullable: false
                  enum:
                    - confirmed
                    - canceled
                    - picked_up
                    - delivered
                reason:
                  type: string
                  description: 'This field is required when <code>status</code> is <code>canceled</code>.'
                  example: null
                  nullable: false
                order_proof:
                  type: object
                  description: 'Must not have more than 5 items.'
                  example: null
                  nullable: true
                  properties: {  }
              required:
                - order_id
                - status
      security: []
  /api/v1/delivery-man/update-payment-status:
    put:
      summary: ''
      operationId: putApiV1DeliveryManUpdatePaymentStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: paid
                  nullable: false
                  enum:
                    - paid
              required:
                - order_id
                - status
      security: []
  /api/v1/delivery-man/order-details:
    get:
      summary: ''
      operationId: getApiV1DeliveryManOrderDetails
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/delivery-man/order:
    get:
      summary: ''
      operationId: getApiV1DeliveryManOrder
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/delivery-man/update-fcm-token:
    put:
      summary: ''
      operationId: putApiV1DeliveryManUpdateFcmToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fcm_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - fcm_token
      security: []
  /api/v1/delivery-man/dm-shift:
    get:
      summary: ''
      operationId: getApiV1DeliveryManDmShift
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/remove-account:
    delete:
      summary: ''
      operationId: deleteApiV1DeliveryManRemoveAccount
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/get-withdraw-method-list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManGetWithdrawMethodList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/get-disbursement-report:
    get:
      summary: ''
      operationId: getApiV1DeliveryManGetDisbursementReport
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                offset:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - limit
                - offset
      security: []
  /api/v1/delivery-man/message/list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManMessageList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/message/search-list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManMessageSearchList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - name
      security: []
  /api/v1/delivery-man/message/details:
    get:
      summary: ''
      operationId: getApiV1DeliveryManMessageDetails
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/message/send:
    post:
      summary: ''
      operationId: postApiV1DeliveryManMessageSend
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/withdraw-method/list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManWithdrawMethodList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                offset:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - limit
                - offset
      security: []
  /api/v1/delivery-man/withdraw-method/store:
    post:
      summary: ''
      operationId: postApiV1DeliveryManWithdrawMethodStore
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                withdraw_method_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - withdraw_method_id
      security: []
  /api/v1/delivery-man/withdraw-method/make-default:
    post:
      summary: ''
      operationId: postApiV1DeliveryManWithdrawMethodMakeDefault
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                is_default:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - id
                - is_default
      security: []
  /api/v1/delivery-man/withdraw-method/delete:
    delete:
      summary: ''
      operationId: deleteApiV1DeliveryManWithdrawMethodDelete
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - id
      security: []
  /api/v1/delivery-man/send-order-otp:
    put:
      summary: ''
      operationId: putApiV1DeliveryManSendOrderOtp
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/delivery-man/make-collected-cash-payment:
    post:
      summary: ''
      operationId: postApiV1DeliveryManMakeCollectedCashPayment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_gateway:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                amount:
                  type: number
                  description: 'Must be at least .001.'
                  example: 39
                  nullable: false
                callback:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - payment_gateway
                - amount
                - callback
                - token
      security: []
  /api/v1/delivery-man/make-wallet-adjustment:
    post:
      summary: ''
      operationId: postApiV1DeliveryManMakeWalletAdjustment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/wallet-payment-list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManWalletPaymentList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/delivery-man/wallet-provided-earning-list:
    get:
      summary: ''
      operationId: getApiV1DeliveryManWalletProvidedEarningList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: token
                      message: 'The token field is required.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: token
                        message: 'The token field is required.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: token
                        message:
                          type: string
                          example: 'The token field is required.'
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/notifications:
    get:
      summary: ''
      operationId: getApiV1VendorNotifications
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/profile:
    get:
      summary: ''
      operationId: getApiV1VendorProfile
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/update-active-status:
    post:
      summary: ''
      operationId: postApiV1VendorUpdateActiveStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/earning-info:
    get:
      summary: ''
      operationId: getApiV1VendorEarningInfo
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/update-profile:
    put:
      summary: ''
      operationId: putApiV1VendorUpdateProfile
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                f_name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                l_name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                phone:
                  type: string
                  description: ''
                  example: null
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                image:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: 'n'
                  nullable: true
              required:
                - f_name
                - l_name
      security: []
  /api/v1/vendor/current-orders:
    get:
      summary: ''
      operationId: getApiV1VendorCurrentOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/completed-orders:
    get:
      summary: ''
      operationId: getApiV1VendorCompletedOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                offset:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                is_subscription:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - limit
                - offset
                - status
                - is_subscription
      security: []
  /api/v1/vendor/all-orders:
    get:
      summary: ''
      operationId: getApiV1VendorAllOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/update-order-status:
    put:
      summary: ''
      operationId: putApiV1VendorUpdateOrderStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                reason:
                  type: string
                  description: 'This field is required when <code>status</code> is <code>canceled</code>.'
                  example: null
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: processing
                  nullable: false
                  enum:
                    - confirmed
                    - processing
                    - handover
                    - delivered
                    - canceled
                order_proof:
                  type: object
                  description: 'Must not have more than 5 items.'
                  example: null
                  nullable: true
                  properties: {  }
              required:
                - order_id
                - status
      security: []
  /api/v1/vendor/order-details:
    get:
      summary: ''
      operationId: getApiV1VendorOrderDetails
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/vendor/order:
    get:
      summary: ''
      operationId: getApiV1VendorOrder
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - order_id
      security: []
  /api/v1/vendor/update-fcm-token:
    put:
      summary: ''
      operationId: putApiV1VendorUpdateFcmToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fcm_token:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - fcm_token
      security: []
  /api/v1/vendor/get-basic-campaigns:
    get:
      summary: ''
      operationId: getApiV1VendorGetBasicCampaigns
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/campaign-leave:
    put:
      summary: ''
      operationId: putApiV1VendorCampaignLeave
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - campaign_id
      security: []
  /api/v1/vendor/campaign-join:
    put:
      summary: ''
      operationId: putApiV1VendorCampaignJoin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - campaign_id
      security: []
  /api/v1/vendor/get-withdraw-list:
    get:
      summary: ''
      operationId: getApiV1VendorGetWithdrawList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/get-products-list:
    get:
      summary: ''
      operationId: getApiV1VendorGetProductsList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/update-bank-info:
    put:
      summary: ''
      operationId: putApiV1VendorUpdateBankInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_name:
                  type: string
                  description: 'Must not be greater than 191 characters.'
                  example: b
                  nullable: false
                branch:
                  type: string
                  description: 'Must not be greater than 191 characters.'
                  example: 'n'
                  nullable: false
                holder_name:
                  type: string
                  description: 'Must not be greater than 191 characters.'
                  example: g
                  nullable: false
                account_no:
                  type: string
                  description: 'Must not be greater than 191 characters.'
                  example: z
                  nullable: false
              required:
                - bank_name
                - branch
                - holder_name
                - account_no
      security: []
  /api/v1/vendor/request-withdraw:
    post:
      summary: ''
      operationId: postApiV1VendorRequestWithdraw
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Must be at least 0.01.'
                  example: 27
                  nullable: false
                id:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - amount
                - id
      security: []
  /api/v1/vendor/update-announcment:
    put:
      summary: ''
      operationId: putApiV1VendorUpdateAnnouncment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                announcement_status:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                announcement_message:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                  nullable: false
              required:
                - announcement_status
                - announcement_message
      security: []
  /api/v1/vendor/make-collected-cash-payment:
    post:
      summary: ''
      operationId: postApiV1VendorMakeCollectedCashPayment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_gateway:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                amount:
                  type: number
                  description: 'Must be at least .001.'
                  example: 39
                  nullable: false
                callback:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - payment_gateway
                - amount
                - callback
      security: []
  /api/v1/vendor/make-wallet-adjustment:
    post:
      summary: ''
      operationId: postApiV1VendorMakeWalletAdjustment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/wallet-payment-list:
    get:
      summary: ''
      operationId: getApiV1VendorWalletPaymentList
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      security: []
  /api/v1/vendor/get-expense:
    get:
      summary: ''
      operationId: getApiV1VendorGetExpense
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: auth-001
                      message: Unauthorized.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: auth-001
                        message: Unauthorized.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: auth-001
                        message:
                          type: string
                          example: Unauthorized.
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                offset:
                  type: string
[...]
